@import b3.vertical.fieldConstructor

@(taskSeq: Seq[Task])(count: Int)(implicit MessagesProvider: MessagesProvider, request: RequestHeader)

@main("Tasks") {

<div class="container">
  <h1>Tasks</h1>
  @if(count > 0) {
  <table class="table table-basic">
    <thead>
    <tr>
      <th><a href="@routes.DoneTasksController.index">done(@count)</a></th>
    </tr>
    </thead>
  </table>
  }
  <table class="table table-striped">
    <thead>
    <tr>
      <th class="col-sm-2">Status</th>
      <th class="col-sm-3">Date</th>
      <th class="col-sm-3">Title</th>
      <th class="col-sm-4">Content</th>
    </tr>
    </thead>
    <tbody>
    @for(task <- taskSeq) {
    <tr>
      <td>
        @b3.formCSRF(routes.UpdateStatusController.change(task.id.get)) {
        @b3.submit('class -> "btn btn-default") {
        Change Status
        }
        }
      </td>
      <td>@Task.dateToString(task)</td>
      <td><a href="@routes.GetTaskController.index(task.id.get)">@task.title</a></td>
      <td>@task.content.getOrElse("")</td>
    </tr>
    }
    </tbody>
  </table>
  <a href="@routes.CreateTaskController.index()" class="btn btn-primary">new Task</a>
</div>

}
